<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>
          {{ dataItem ? "Editar" : "Crear" }}
          Aeropuerto
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full">
          <mat-label>IATA</mat-label>
          <input
            matInput
            placeholder="IATA"
            formControlName="iata"
            [maxLength]="3"
          />
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>OACI</mat-label>
          <input
            matInput
            placeholder="OACI"
            formControlName="oaci"
            [maxLength]="4"
          />
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Nombre"
            formControlName="nombre"
            [maxLength]="50"
          />
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Zona horaria</mat-label>
          <mat-select
            formControlName="zonaHorariaId"
            placeholder="Zona Horaria"
          >
            @for(item of timeZoneList; track $index) {
            <mat-option [value]="item.id">
              {{ item.name }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>País</mat-label>
          <mat-select formControlName="paisId" placeholder="País">
            @for (item of countries; track $index) {
            <mat-option [value]="item.id">
              {{ item.nombre }}
            </mat-option>
            }
          </mat-select>
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Ciudad</mat-label>
          <input
            matInput
            placeholder="Ciudad"
            formControlName="ciudad"
            [maxLength]="255"
          />
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>localidad</mat-label>
          <input
            matInput
            placeholder="localidad"
            formControlName="localidad"
            [maxLength]="255"
          />
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Latitud</mat-label>
          <input matInput placeholder="Latitud" formControlName="latitud" />
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            placeholder="Teléfono"
            formControlName="telefono"
            [maxLength]="10"
            appOnlyNumberInput
          />
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Longitud</mat-label>
          <input matInput placeholder="Longitud" formControlName="longitud" />
          <mat-error> El campo es requerido </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          @if(form.get('email')!.hasError('email')) {
          <mat-error> El email es invalido </mat-error>
          } @else {
          <mat-error> El campo es requerido </mat-error>
          }
        </mat-form-field>
        <div class="w-full">
          <mat-checkbox formControlName="activo">Activo</mat-checkbox>
        </div>
        <div class="w-full">
          <mat-checkbox formControlName="interno">Interno</mat-checkbox>
        </div>
        <div class="flex justify-end w-full flex-wrap">
          <button
            mat-raised-button
            class="ml-[5px] mt-[5px]"
            type="button"
            mat-dialog-close
            color="warn"
          >
            Cancelar
          </button>
          <button
            mat-raised-button
            class="ml-[5px] mt-[5px]"
            type="button"
            (click)="cleanForm()"
          >
            Limpiar
          </button>
          <button
            mat-raised-button
            color="primary"
            class="ml-[5px] mt-[5px]"
            type="submit"
            [disabled]="form.invalid"
          >
            Guardar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
