<section class="flex justify-between flex-wrap">
  <h2 class="title">Personal</h2>
  <button
    [disabled]="!canOperation"
    class="sm:mb-0 mb-[10px]"
    mat-raised-button
    (click)="openForm()"
  >
    Crear Personal
  </button>
</section>

@if(data.length>0){
<section class="flex flex-wrap">
  @for (item of data; track $index) {
  <mat-card
    class="w-[250px] m-[5px] cursor-pointer pb-4"
    [matMenuTriggerFor]="menu"
  >
    <mat-card-header>
      <mat-card-title
        ><h3>
          {{ item.nombre }}
        </h3></mat-card-title
      >
      <mat-card-subtitle>
        <p>Correo: {{ item.correo }}</p>
        <p>UserName : {{ item.user.userName }}</p>
        <p>Fecha de nacimiento: {{ item.fechaNacimiento }}</p>
        <p>Teléfono: {{ item.telefono }} - Dirección: {{ item.direccion }}</p>
        <p>País: {{ item.pais.nombre }}</p>
        <p>Puesto: {{ item.puesto.name }}</p>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item [disabled]="!canOperation" (click)="openForm(item)">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>

    <button [disabled]="!canOperation" mat-menu-item (click)="deleteItem(item)">
      <mat-icon>delete</mat-icon>
      <span>Borrar</span>
    </button>
  </mat-menu>
  }
</section>
<footer>
  <mat-paginator
    [length]="this.dataSize"
    [pageSize]="10"
    [pageIndex]="pageNumber"
    [pageSizeOptions]="[5, 10, 15, 20]"
    class="rounded-xl"
    (page)="changePagination($event)"
  >
  </mat-paginator>
</footer>
} @else{
<img
  class="sm:w-[40%] w-[90%] left-0 right-0 mx-auto rounded-3xl"
  src="./assets/img/noFound.webp"
  alt=""
/>
}
