<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>
        {{ dataItem ? "Editar" : "Crear" }}
        País
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Nombre"
          formControlName="nombre"
          [maxLength]="50"
        />
        <mat-error> El campo es requerido </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Código de teléfono</mat-label>
        <input
          matInput
          placeholder="Código de teléfono"
          formControlName="phoneCode"
          [maxLength]="5"
        />
        <mat-error> El campo es requerido </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Iso 3166</mat-label>
        <input
          matInput
          placeholder="Iso 3166"
          formControlName="iso3166"
          [maxLength]="5"
        />
        <mat-error> El campo es requerido </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Iso 4217</mat-label>
        <input
          matInput
          placeholder="Iso 4217"
          formControlName="iso4217"
          [maxLength]="5"
        />
        <mat-error> El campo es requerido </mat-error>
      </mat-form-field>
      <div class="flex justify-end w-full flex-wrap">
        <button
          mat-raised-button
          class="ml-[5px] mt-[5px]"
          type="button"
          mat-dialog-close
          color="warn"
        >
          Cancelar
        </button>
        <button
          mat-raised-button
          class="ml-[5px] mt-[5px]"
          type="button"
          (click)="cleanForm()"
        >
          Limpiar
        </button>
        <button
          mat-raised-button
          color="primary"
          class="ml-[5px] mt-[5px]"
          type="submit"
          [disabled]="form.invalid"
        >
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
