<section
  class="p-[10px] fixed top-0 left-0 h-screen bg-blue-950 w-[250px]"
  style="z-index: 10"
>
  <h1 class="text-white font-black text-3xl mb-[5px]">Opciones</h1>
  <button
    class="w-full"
    mat-raised-button
    dtBtnUploadFile
    (fileChange)="uploadFile($event)"
    typesPermitted=".jpg,.jpeg,.svg"
  >
    Insertar imagen
  </button>

  <form [formGroup]="form">
    <mat-form-field class="w-full mt-[10px] mb-[15px]">
      <mat-label>Tamaño asientos px</mat-label>
      <input
        formControlName="sizeSeat"
        min="1"
        matInput
        type="number"
        (keydown)="reMakeCanvas()"
      />
      @if(form.get('sizeSeat')!.hasError('required') ) {
      <mat-error>El campo es obligatorio</mat-error>
      } @if(form.get('sizeSeat')!.hasError('min') ) {
      <mat-error>El campo no puede ser menor a uno</mat-error>
      }
    </mat-form-field>
  </form>

  <mat-checkbox style="color: white" [(ngModel)]="seeGrid">
    Utilizar cuadricula
  </mat-checkbox>

  @if( seeGrid ){
  <form [formGroup]="formDisplace">
    <h2 class="text-gray-100 font-black text-xl mb-[5px]">Desplazamiento px</h2>
    <div class="flex justify-between">
      <mat-form-field class="w-[48%]">
        <mat-label>X</mat-label>
        <input matInput type="number" formControlName="x" />
      </mat-form-field>
      <mat-form-field class="w-[48%]">
        <mat-label>Y</mat-label>
        <input matInput type="number" formControlName="y" />
      </mat-form-field>
    </div>
    @if(formDisplace.get("x")!.hasError('offset') ||
    formDisplace.get("y")!.hasError('offset') ) {
    <p class="text-red-500 font-black mb-[5px] text-sm">
      Ninguno de los campos puede ser mayor a al tamaño de los asientos
    </p>
    } @if(formDisplace.get("x")!.hasError('min') ||
    formDisplace.get("y")!.hasError('min') ) {
    <p class="text-red-500 font-black mb-[5px] text-sm">
      Ninguno de los campos puede ser menor a 1
    </p>
    }
  </form>
  }

  <h2 class="text-gray-100 font-black text-xl mt-[5px]">Clases</h2>
  <ul class="bg-blue-800 py-[5px] px-[7px] rounded-lg mb-[7px]">
    <li
      [ngStyle]="{ 'background-color': 'blue' }"
      class="p-[5px] cursor-pointer rounded-md text-white font-black my-[3px]"
    >
      Sección
    </li>
  </ul>
</section>
<section class="h-screen overflow-x-auto bg-black">
  <div
    class="relative left-0 right-0 mx-auto"
    [ngClass]="{
      'h-full w-fit': hScreen >= wScreen,
      'h-fit w-full': hScreen < wScreen
    }"
    (click)="addSeat($event)"
  >
    <img
      [src]="img"
      class="max-w-none pointer-events-none"
      [ngClass]="{
        'h-full w-auto': hScreen >= wScreen,
        'h-auto w-full': hScreen < wScreen
      }"
    />
    <canvas
      #canvas
      class="absolute left-0 top-0 w-full h-full pointer-events-none"
      style="z-index: 10"
    ></canvas>
    @for (seat of seats; track $index) {
    <mat-icon
      class="inline-block absolute translate-x-[-50%] translate-y-[-50%] bg-blue-600"
      [ngStyle]="{
        left: seat.position.x + '%',
        top: seat.position.y + '%',
        width: form.get('sizeSeat')!.value + 'px',
        height: form.get('sizeSeat')!.value + 'px',
        'font-size': form.get('sizeSeat')!.value + 'px'
      }"
    >
      event_seat
    </mat-icon>
    }
  </div>
</section>
