<section
  class="p-[10px] fixed top-0 left-0 h-screen bg-blue-950 overflow-y-auto overflow-x-visible"
  style="z-index: 20000"
  [ngClass]="{
    'w-[280px]': !closeSidenav,
    'w-[60px]': closeSidenav
  }"
>
  <div
    class="flex"
    [ngClass]="{
      'justify-between': !closeSidenav,
      'justify-center': closeSidenav
    }"
  >
    @if(!closeSidenav){
    <h1 class="text-white font-black text-3xl mb-[5px]">Menu</h1>
    }
    <button mat-mini-fab color="light" (click)="closeSidenav = !closeSidenav">
      <mat-icon> {{ closeSidenav ? "menu" : "arrow_back" }} </mat-icon>
    </button>
  </div>

  <section
    [ngClass]="{
      hidden: closeSidenav,
    }"
  >
    <section>
      <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">Zoom</h2>
      <button
        (click)="zoom.set(zoom() + 0.1)"
        mat-mini-fab
        class="m-[2px]"
        color="light"
      >
        <mat-icon> zoom_in </mat-icon>
      </button>
      <button
        mat-mini-fab
        class="m-[2px]"
        color="light"
        (click)="zoom.set(zoom() - 0.1)"
      >
        <mat-icon> zoom_out </mat-icon>
      </button>
      <button mat-mini-fab class="m-[2px]" color="light" (click)="refresh()">
        <mat-icon> refresh </mat-icon>
      </button>
    </section>
    <section>
      <h2 class="mt-[5px] text-xl mb-[5px] font-black text-white">
        Tipo de asiento
      </h2>
      @for(clase of clasesList; track clase.id){
      <div class="flex items-center mb-2">
        <span
          class="w-[20px] h-[20px] inline-block rounded-full mr-[5px]"
          [ngStyle]="{
            'background-color': clase.clase.description
          }"
        ></span>
        <div class="flex justify-between text-white font-black infoClassAvion">
          <span>
            {{ clase.clase.name }}
          </span>
          <span> Q{{ clase.precio }} </span>
        </div>
      </div>
      }
    </section>
    <section class="text-white font-black">
      <h2 class="mt-[5px] text-xl mb-[5px]">Mis asientos</h2>
      @if(mySeats.length == 0) {
      <div class="text-gray-400">No tienes asientos seleccionados</div>
      } @if(mySeats.length > 0) {
      <div>
        <p class="text-xs mb-[5px]">
          Nota: Los check no afectan a la compra, unicamente afecta a las
          siguientes 2 opciones.
        </p>
        <button
          mat-raised-button
          class="mb-[3px]"
          color="accent"
          (click)="vacateSeat()"
          [disabled]="!validOption()"
        >
          Desocupar asientos
        </button>
        <button
          mat-raised-button
          class="mb-[3px]"
          color="accent"
          (click)="showTooltip()"
          [disabled]="!validOption()"
        >
          Mostrar solo estos asientos
        </button>
      </div>
      <table>
        @for (item of mySeats; track $index) {
        <tr>
          <td class="text-left pr-[10px] pt-[5px]">{{ item.Codigo }}</td>
          <td class="text-left pr-[10px] pt-[5px]">{{ item.clase.name }}</td>
          <td class="text-left pr-[10px] pt-[5px]">Q{{ getPrice(item) }}</td>

          <td class="text-left pr-[10px] pt-[5px]">
            <div
              class="bg-white flex justify-center items-center rounded-full p-[2px]"
              [matTooltip]="item.Estado?.id == 93 ? 'Apartado' : 'Comprado'"
            >
              <mat-icon class="text-black">
                {{
                  item.Estado?.id == 93
                    ? "airline_seat_recline_normal"
                    : "check_circle"
                }}
              </mat-icon>
            </div>
          </td>
          <td>
            <input
              type="checkbox"
              [(ngModel)]="item.checked"
              class="w-[20px] h-[20px] bg-white rounded-[5px] checked:bg-emerald-600"
            />
          </td>
        </tr>
        }
        <tr class="border-t-2">
          <td></td>
          <td>Total:</td>
          <td>Q{{ getTotal() }}</td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <div>
        <button
          class="w-full mt-[5px]"
          mat-raised-button
          (click)="finishSelect()"
        >
          Finalizar compra
        </button>
      </div>
      }
      <!-- <section>
        @if(mySeats.length == 0) {
        <div class="text-gray-400">No tienes asientos seleccionados</div>
        } @for (item of mySeats; track $index) {
        <div class="text-sm">
          {{ item.Codigo }} -
          {{ item.Estado?.id == 93 ? "Apartado" : "Comprado" }}
        </div>
        }
      </section> -->
    </section>
    <section class="text-white">
      <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">Iconos</h2>
      <div class="flex my-2 items-center">
        <mat-icon class="mr-2">event_seat</mat-icon>
        <p>Asiento libre</p>
      </div>
      <div class="flex my-2 items-center">
        <mat-icon class="mr-2">airline_seat_recline_normal</mat-icon>
        <p>Asiento ocupado por usted mismo</p>
      </div>
      <div class="flex my-2 items-center">
        <mat-icon class="mr-2">block</mat-icon>
        <p>Asiento no disponible</p>
      </div>
    </section>
  </section>
  @if(!closeSidenav){
  <button
    mat-raised-button
    color="warn"
    class="w-full mt-4 mb-[20px]"
    (click)="exit()"
  >
    Cancelar
  </button>

  }
</section>

<section class="h-screen w-screen overflow-hidden bg-black">
  <div
    class="relative left-0 right-0 mx-auto seatSection select-none cursor-move"
    [ngClass]="{
      'h-full w-fit': hScreen >= wScreen,
      'h-fit w-full': hScreen < wScreen,
    }"
    (mousedown)="pressClick($event)"
    (mouseup)="releaseClick($event)"
    (mousemove)="mouseMove($event)"
    (mouseleave)="releaseClick($event)"
    (touchstart)="pressTouch($event)"
    (touchmove)="touchMove($event)"
    (touchend)="touchEnd($event)"
    (touchcancel)="touchEnd($event)"
    #container
    [ngStyle]="{
      transform:
        'scale(' +
        zoom() +
        ') ' +
        'translate(' +
        translatePos.x +
        'px,' +
        translatePos.y +
        'px)'
    }"
  >
    <img
      [src]="img"
      class="max-w-none pointer-events-none"
      [ngClass]="{
        'h-full w-auto': hScreen >= wScreen,
        'h-auto w-full': hScreen < wScreen
      }"
    />

    @for (seat of seats; track $index) {
    <mat-icon
      (click)="sendSeat(seat)"
      (touchstart)="sendSeat(seat)"
      [matTooltip]="seat.Codigo! + ' - ' + seat.Estado?.name"
      [matTooltipPosition]="'right'"
      class="inline-block absolute translate-x-[-50%] translate-y-[-50%] text-white cursor-pointer"
      #tooltip="matTooltip"
      [ngStyle]="{
        left: seat.position.x + '%',
        top: seat.position.y + '%',
        width: sizePixelSize + 'px',
        height: sizePixelSize + 'px',
        'font-size': sizePixelSize + 'px',
        'background-color': seat.clase.description,
        opacity: seat.Estado!.id == 29 ? 0.9 : 1
      }"
    >
      {{ addTooltip(seat, tooltip) }}

      {{
        seat.Estado!.id == 94
          ? "event_seat"
          : seat.clienteId == this.clientId
          ? "airline_seat_recline_normal"
          : "block"
      }}
    </mat-icon>
    }
  </div>
</section>
