<section
  class="p-[10px] fixed top-0 left-0 h-screen bg-blue-950 overflow-y-auto overflow-x-visible"
  style="z-index: 20"
  [ngClass]="{
    'w-[280px]': !closeSidenav,
    'w-[50px]': closeSidenav
  }"
>
  <div
    class="flex"
    [ngClass]="{
      'justify-between': !closeSidenav,
      'justify-center': closeSidenav
    }"
  >
    @if(!closeSidenav){
    <h1 class="text-white font-black text-3xl mb-[5px]">Menu</h1>
    }
    <button mat-mini-fab color="light" (click)="closeSidenav = !closeSidenav">
      <mat-icon> {{ closeSidenav ? "menu" : "arrow_back" }} </mat-icon>
    </button>
  </div>

  <section
    [ngClass]="{
      hidden: closeSidenav,
    }"
  >
    <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">Planos</h2>
    @if(thisPlane){
    <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">
      {{ thisPlane.codigo }}
    </h2>
    }

    <!-- <button
      class="w-full"
      mat-raised-button
      dtBtnUploadFile
      (fileChange)="uploadFile($event)"
      typesPermitted=".jpg,.jpeg,.svg"
    >
      Insertar imagen
    </button> -->
    <section>
      <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">
        Información
      </h2>
      <div>
        <p
          class="mt-[5px] text-gray-100 font-black text-base mb-[5px] flex flex-wrap items-center"
        >
          <span>Cantidad de asientos:</span>
          <span class="ml-1"> {{ seats.length }}</span>
        </p>
        <p
          class="mt-[5px] text-gray-100 font-black text-base mb-[5px] flex flex-wrap items-center"
        >
          <span>Nota:</span>
          <span class="ml-1"> {{ messageHelp }}</span>
        </p>
      </div>
    </section>
    @if (img) {
    <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">Acciones</h2>
    <div class="mt-[5px]">
      <button
        mat-mini-fab
        color="light"
        class="m-[2px]"
        (click)="opt.set('navigation')"
        [color]="opt() == 'navigation' ? 'primary' : 'light'"
      >
        <mat-icon> pan_tool </mat-icon>
      </button>
      <button
        mat-mini-fab
        color="light"
        class="m-[2px]"
        (click)="opt.set('add')"
        [color]="opt() == 'add' ? 'primary' : 'light'"
        [disabled]="!secCurrent || !formCode.valid"
      >
        <mat-icon> add </mat-icon>
      </button>
      <button
        mat-mini-fab
        class="m-[2px]"
        (click)="opt.set('move')"
        [color]="opt() == 'move' ? 'primary' : 'light'"
      >
        <mat-icon> open_with </mat-icon>
      </button>
      <button
        mat-mini-fab
        class="m-[2px]"
        (click)="opt.set('delete')"
        [color]="opt() == 'delete' ? 'primary' : 'light'"
      >
        <mat-icon> delete </mat-icon>
      </button>
    </div>
    <section>
      <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">
        Modo pincel
      </h2>
      <button
        mat-mini-fab
        class="m-[2px]"
        title="Punto"
        [color]="modePincel() == 'point' ? 'primary' : 'light'"
        (click)="modePincel.set('point')"
        [disabled]="opt() == 'navigation'"
      >
        <mat-icon> fiber_manual_record </mat-icon>
      </button>
      <button
        mat-mini-fab
        class="m-[2px]"
        title="Linea"
        [color]="modePincel() == 'line' ? 'primary' : 'light'"
        (click)="modePincel.set('line')"
        [disabled]="opt() == 'navigation'"
      >
        <mat-icon> show_chart </mat-icon>
      </button>
      <button
        mat-mini-fab
        class="m-[2px]"
        title="Cuadro"
        [color]="modePincel() == 'square' ? 'primary' : 'light'"
        (click)="modePincel.set('square')"
        [disabled]="opt() == 'navigation'"
      >
        <mat-icon> format_paint </mat-icon>
      </button>
    </section>
    <section>
      <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">Zoom</h2>
      <button
        (click)="zoom.set(zoom() + 0.1)"
        mat-mini-fab
        class="m-[2px]"
        color="light"
      >
        <mat-icon> zoom_in </mat-icon>
      </button>
      <button
        mat-mini-fab
        class="m-[2px]"
        color="light"
        (click)="zoom.set(zoom() - 0.1)"
      >
        <mat-icon> zoom_out </mat-icon>
      </button>
      <button mat-mini-fab class="m-[2px]" color="light" (click)="refresh()">
        <mat-icon> refresh </mat-icon>
      </button>
    </section>
    <section>
      <form [formGroup]="formCode">
        <h2 class="text-gray-100 font-black text-xl mt-[5px]">Código</h2>
        <mat-form-field class="w-full">
          <mat-label>Código para el nuevo asiento</mat-label>
          <input
            appOnlyNumberLetterInput
            matInput
            formControlName="code"
            (focus)="focusForm = true"
            (blur)="focusForm = false"
            formControlName="code"
          />
          <mat-error>El campo es obligatorio</mat-error>
        </mat-form-field>
      </form>
    </section>
    <section>
      <h2 class="text-gray-100 font-black text-xl mt-[5px]">Clases</h2>
      <app-input-autocomplete
        [formControl]="formSect"
        [options]="sectIonsOpt"
        (selectedEvent)="addSection($event)"
      >
        Escriba la sección que desea agregar
      </app-input-autocomplete>
      @if (sectionsSelected.length>0) {
      <ul class="bg-white py-[5px] px-[7px] rounded-lg mb-[7px]">
        @for (sect of sectionsSelected; track $index) {
        <li
          [ngStyle]="{ 'background-color': sect.description }"
          class="p-[5px] cursor-pointer text-white font-black my-[5px] flex items-center justify-between"
          [ngClass]="{
            'w-[95%]': sect != secCurrent,
            'w-full': sect == secCurrent
          }"
        >
          <span class="w-[80%] inline-block" (click)="secCurrent = sect">
            {{ sect.name }}
          </span>
          <mat-icon (click)="quitSection(sect)">close</mat-icon>
        </li>
        }
      </ul>
      }
    </section>

    <form [formGroup]="form">
      <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">
        Configuraciones
      </h2>

      <mat-form-field class="w-full mt-[10px] mb-[15px]">
        <mat-label>Tamaño asientos</mat-label>
        <input
          formControlName="sizeSeat"
          min="1"
          matInput
          type="number"
          (keydown)="modifyTam()"
        />
        @if(form.get('sizeSeat')!.hasError('required') ) {
        <mat-error>El campo es obligatorio</mat-error>
        } @if(form.get('sizeSeat')!.hasError('hundred') &&
        !form.get('sizeSeat')!.hasError('required') ) {
        <mat-error>El campo solo debe ser un numero entre 0.01 a 100</mat-error>
        }
      </mat-form-field>
    </form>

    <h2 class="mt-[5px] text-gray-100 font-black text-xl mb-[5px]">
      Cuadricula
    </h2>

    <div class="bg-white rounded-full">
      <mat-checkbox (click)="reMakeCanvas()" [(ngModel)]="seeGrid">
        Utilizar cuadricula
      </mat-checkbox>
    </div>

    @if( seeGrid ){
    <div class="bg-white rounded-full mt-[10px]">
      <mat-checkbox style="color: white" [(ngModel)]="fitToGrid">
        Ajustar a cuadricula
      </mat-checkbox>
    </div>

    <form [formGroup]="formDisplace">
      <h3 class="mt-[5px] text-gray-100 font-black text-base mb-[5px]">
        Desplazamiento px
      </h3>
      <div class="flex justify-between">
        <div class="w-[48%]">
          <mat-form-field class="w-full">
            <mat-label>X</mat-label>
            <input
              (keydown)="reMakeCanvas()"
              matInput
              type="number"
              formControlName="xDes"
            />
          </mat-form-field>
          <mat-slider
            class="w-full"
            showTickMarks
            discrete
            [max]="form.get('sizeSeat')!.value - 1"
          >
            <input
              matSliderThumb
              (valueChange)="sliderChange('xDes', $event)"
            />
          </mat-slider>
        </div>
        <div class="w-[48%]">
          <mat-form-field class="w-full">
            <mat-label>Y</mat-label>
            <input
              (keydown)="reMakeCanvas()"
              matInput
              type="number"
              formControlName="yDes"
            />
          </mat-form-field>
          <mat-slider
            class="w-full"
            showTickMarks
            discrete
            [max]="form.get('sizeSeat')!.value - 1"
          >
            <input
              matSliderThumb
              (valueChange)="sliderChange('yDes', $event)"
            />
          </mat-slider>
        </div>
      </div>
      @if(formDisplace.get("xDes")!.hasError('offset') ||
      formDisplace.get("yDes")!.hasError('offset') ) {
      <p class="text-red-500 font-black mb-[5px] text-sm">
        Ninguno de los campos puede ser mayor a al tamaño de los asientos
      </p>
      } @if(formDisplace.get("xDes")!.hasError('min') ||
      formDisplace.get("yDes")!.hasError('min') ) {
      <p class="text-red-500 font-black mb-[5px] text-sm">
        Ninguno de los campos puede ser menor a 1
      </p>
      }
    </form>
    <button mat-raised-button class="w-full" (click)="savePlane()">
      Guardar
    </button>
    <button
      mat-raised-button
      class="w-full mt-4"
      color="warn"
      routerLink="/session/airline-section/plane-home"
    >
      Cancelar
    </button>
    } }
  </section>
</section>

<section class="h-screen w-screen overflow-hidden bg-black">
  <div
    class="relative left-0 right-0 mx-auto seatSection select-none"
    [ngClass]="{
      'h-full w-fit': hScreen >= wScreen,
      'h-fit w-full': hScreen < wScreen,
      'cursor-pointer': opt() == 'add',
      'cursor-grab': opt() == 'navigation'
    }"
    (mousedown)="pressClick($event)"
    (mouseup)="releaseClick($event)"
    (mousemove)="mouseMove($event)"
    (mouseleave)="releaseClick($event)"
    (touchstart)="pressTouch($event)"
    (touchmove)="touchMove($event)"
    (touchend)="touchEnd($event)"
    (touchcancel)="touchEnd($event)"
    #container
    [ngStyle]="{
      transform:
        'scale(' +
        zoom() +
        ') ' +
        'translate(' +
        translatePos.x +
        'px,' +
        translatePos.y +
        'px)'
    }"
  >
    <img
      [src]="img"
      class="max-w-none pointer-events-none"
      [ngClass]="{
        'h-full w-auto': hScreen >= wScreen,
        'h-auto w-full': hScreen < wScreen
      }"
    />
    <canvas
      #canvas
      class="absolute left-0 top-0 pointer-events-none"
      style="z-index: 10"
    ></canvas>
    @for (seat of seats; track $index) {
    <mat-icon
      [matTooltip]="seat.Codigo!"
      [matTooltipShowDelay]="1000"
      (mouseenter)="deleteSeat(seat)"
      (mousedown)="mousedown($event, seat)"
      (touchstart)="touchStart(seat, $event)"
      class="inline-block absolute translate-x-[-50%] translate-y-[-50%] text-white"
      [ngClass]="{
        'cursor-move': opt() == 'move',
        'cursor-pointer': opt() == 'delete',
        'pointer-events-none': opt() == 'navigation' || modePincel() != 'point',
        'pointer-events-auto': opt() != 'navigation' && modePincel() == 'point'
      }"
      [ngStyle]="{
        left: seat.position.x + '%',
        top: seat.position.y + '%',
        width: sizePixelSize + 'px',
        height: sizePixelSize + 'px',
        'font-size': sizePixelSize + 'px',
        'background-color': seat.clase.description,
        opacity: getOpacity(seat)
      }"
    >
      event_seat
    </mat-icon>
    }
  </div>
</section>
